@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


body {
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

.inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.lexand {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

#main-background {
    background-color: hsl(233, 47%, 7%);
    height: 50em;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
}

#content-background {
    background-color: hsl(244, 38%, 16%);
    height: 446px;
    width: 35%;
    margin: auto;
    position: absolute;
    top: 23rem;
    margin-right: 50%;
    border-radius: 5px;
    clear: left;
    left: 50%;
    right: 0;
    overflow: hidden;
}

#title {
    width: 70%;
    position: absolute;
    margin: auto;
    margin-right: 15%;
    top: 15%;
    letter-spacing: 1px;
    clear: left;
    right: 0;
}

#paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    width: 65%;
    position: absolute;
    margin: auto;
    margin-right: 15%;
    top: 40%;
    right: 5%;
    line-height: 22px;
    font-size: small;
}

#companies {
    color: hsl(0, 0%, 100%);
    width: 20%;
    position: absolute;
    margin: auto;
    margin-right: 15%;
    top: 70%;
    right: 50%;
    line-height: 25px;
    letter-spacing: 1px;
}

#templates {
    color: hsl(0, 0%, 100%);
    width: 20%;
    position: absolute;
    margin: auto;
    margin-right: 15%;
    top: 70%;
    right: 25%;
    line-height: 25px;
    letter-spacing: 1px;
}

#queries {
    color: hsl(0, 0%, 100%);
    width: 20%;
    position: absolute;
    margin: auto;
    margin-right: 15%;
    top: 70%;
    right: 0;
    line-height: 25px;
    letter-spacing: 1px;
}

.upper {
    text-transform: uppercase;
}

.heading {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
}

.stat {
    font-size: larger;
}

#image {
    height: 446px;
    width: 35%;
    position: absolute;
    margin: auto;
    top: 23rem;
    margin-left: 50%;
    left: 0;
    clear: left;
    overflow: hidden;
}

#image img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#overlay {
    background-color: hsla(277, 75%, 45%, 0.521);
    height: 446px;
    width: 35%;
    position: absolute;
    top: 23rem;
    left: 0;
    margin-left: 50%;
}

.border {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}